<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyGroceryApp"
        tools:targetApi="29">
        <activity
            android:name=".activities.AddNewItemActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SignUpActivity"
            android:exported="false" />
        <activity
            android:name=".activities.BaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewMemberActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewMemberCartActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NewMemberPurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OldMemberActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OldMemberCartActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OldMemberPurchaseActivity"
            android:exported="false" />
        <activity
            android:name=".activities.UpdateItemActivity"
            android:exported="false" />
        <activity
            android:name=".activities.LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.MyGroceryApp" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>